{% extends "base.html" %}

{% block content %}
  <h1>
    Model: {{ car.model }}
  </h1>
  <p><strong>Manufacturer:</strong> ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers </h1>
  {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {% if user in car.drivers.all %}
        <button class="btn btn-danger" style="float: right" type="submit" name="delete">Delete me from this car</button>
      {% else %}
        <button class="btn btn-success" style="float: right" type="submit" name="assign">Assign me to this car</button>
      {% endif %}
    </form>
  {% endif %}
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li><p><strong>Username: </strong>{{ driver.username }}</p></li>
      <li><p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p></li>
      <li><p><strong>License number:</strong> {{ driver.license_number }}</p></li>
      <hr>
    {% endfor %}
  </ul>
  <div class="d-flex justify-content-start gap-2">
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </div>
{% endblock %}
